@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,700;0,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,600&display=swap');

body {
    margin: 0;
    line-height: normal;
}

:root {

    /* Common Style Variables */

    /* Color */
    --color-black: #000;
    --color-darkslateblue: #183563;
    --color-darkslategray: #49454f;
    --color-gainsboro: #d9d9d9;
    --color-gray: rgba(0, 0, 0, 0.46);
    --color-royalblue: #2c6bcc;
    --color-white: #fff;
    --color-whitesmoke: #f5f5f5;

    /* Color Primitives */
    --color-primitives-brand-100: rgba(245, 245, 245, 1);
    --color-primitives-brand-300: rgba(217, 217, 217, 1);
    --color-primitives-brand-800: rgba(44, 44, 44, 1);
    --color-primitives-brand-900: rgba(30, 30, 30, 1);
    --color-primitives-gray-900: rgba(30, 30, 30, 1);
    --color-primitives-white-1000: rgba(255, 255, 255, 1);

    /* Color Semantic */
    --color-background-brand-default: var(--color-primitives-brand-800);
    --color-background-brand-hover: var(--color-primitives-brand-900);
    --color-border-brand-default: var(--color-primitives-brand-800);
    --color-text-brand-on-brand: var(--color-primitives-brand-100);
    --color-text-default-default: var(--color-primitives-gray-900);

    /* LCD Color */
    --LCD-color: rgba(44, 107, 204, 1);

    /* Fuschia */
    --fuschia-100: rgba(239, 93, 168, 1);
    --fuschia-60: rgba(252, 221, 236, 1);
    --fuschia-80: rgba(241, 120, 182, 1);

    /* Iris */
    --iris-100: rgba(93, 95, 239, 1);
    --iris-60: rgba(165, 166, 246, 1);
    --iris-80: rgba(120, 121, 241, 1);

    /* Gap */
    --gap-12: 12px;

    /* Padding */
    --padding-0: 0px;
    --padding-12: 12px;
    --padding-16: 16px;

    /* Size */
    --size-radius-200: 8px;
    --size-space-200: 8px;
    --size-space-300: 12px;
    --size-space-400: 16px;

    /* Font Family */
    --font-inter: "Inter", Helvetica;
    --font-open-sans: "Open Sans", Helvetica;
    --font-work-sans: "Work Sans", Helvetica;

    /* FontSize */
    --fs-10: 10px;
    --fs-12: 12px;
    --fs-16: 16px;
    --fs-24: 24px;

    /* Body Base */
    --body-base-font-family: 'Inter', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --body-base-font-size: 16px;
    --body-base-font-style: normal;
    --body-base-font-weight: 400;
    --body-base-letter-spacing: 0px;
    --body-base-line-height: 139.9999976158142%;

    /* Body */
    --body-font-family: 'Inter', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --body-font-size: 16px;
    --body-font-style: normal;
    --body-font-weight: 400;
    --body-letter-spacing: -0.32px;
    --body-line-height: normal;

    /* Body Strong */
    --body-strong-font-family: 'Inter', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --body-strong-font-size: 16px;
    --body-strong-font-style: normal;
    --body-strong-font-weight: 600;
    --body-strong-letter-spacing: 0px;
    --body-strong-line-height: 139.9999976158142%;

    /* Button */
    --button-font-family: 'Inter', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --button-font-size: 16px;
    --button-font-style: normal;
    --button-font-weight: 400;
    --button-letter-spacing: 0px;
    --button-line-height: normal;

    /* Button Small */
    --button-small-font-family: 'Inter', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --button-small-font-size: 12px;
    --button-small-font-style: normal;
    --button-small-font-weight: 400;
    --button-small-letter-spacing: 0px;
    --button-small-line-height: normal;

    /* Header 1 */
    --header-1-font-family: 'Inter', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --header-1-font-size: 24px;
    --header-1-font-style: normal;
    --header-1-font-weight: 700;
    --header-1-letter-spacing: -0.48px;
    --header-1-line-height: normal;

    /* Header 2 */
    --header-2-font-family: 'Inter', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --header-2-font-size: 20px;
    --header-2-font-style: normal;
    --header-2-font-weight: 700;
    --header-2-letter-spacing: -0.4px;
    --header-2-line-height: normal;

    /* Hero Section Title */
    --hero-section-title-font-family: 'Inter', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --hero-section-title-font-size: 36px;
    --hero-section-title-font-style: normal;
    --hero-section-title-font-weight: 800;
    --hero-section-title-letter-spacing: -0.72px;
    --hero-section-title-line-height: normal;

    /* Single Line Body Base */
    --single-line-body-base-font-family: 'Inter', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --single-line-body-base-font-size: 16px;
    --single-line-body-base-font-style: normal;
    --single-line-body-base-font-weight: 400;
    --single-line-body-base-letter-spacing: 0px;
    --single-line-body-base-line-height: 100%;

    /* Title Large Box */
    --title-large-box-font-family: 'Inter', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --title-large-box-font-size: 16px;
    --title-large-box-font-style: normal;
    --title-large-box-font-weight: 700;
    --title-large-box-letter-spacing: 0.5px;
    --title-large-box-line-height: normal;

    /* Borders */
    --border-1: 1px solid var(--color-white);

    /* Shadows */
    --text-shadow-1: 1px 0 0 var(--color-white), 0 1px 0 var(--color-white), -1px 0 0 var(--color-white), 0 -1px 0 var(--color-white);

    /* WidthHeights */
    --height-24: 24px;
    --height-28: 28px;
    --height-57: 57px;
    --height-60: 60px;
    --width-24: 24px;
    --width-1440: 1440px;

    /* LetterSpacings */
    --ls--0_02: -0.02;
    --ls-0_5: 0.5px;

}

/* LCD Color Modes */
[data-LCD-mode="mode-1"] {
    --LCD-color: rgba(44, 107, 204, 1);
}

[data-LCD-mode="mode-2"] {
    --LCD-color: rgba(255, 255, 255, 1);
}

[data-LCD-mode="mode-3"] {
    --LCD-color: rgba(234, 196, 0, 1);
}

/* SDS Color Modes */
[data-color-mode="SDS-light"] {
    --color-background-brand-default: var(--color-primitives-brand-800);
    --color-background-brand-hover: var(--color-primitives-brand-900);
    --color-border-brand-default: var(--color-primitives-brand-800);
    --color-text-brand-on-brand: var(--color-primitives-brand-100);
    --color-text-default-default: var(--color-primitives-gray-900);
}

[data-color-mode="SDS-dark"] {
    --color-background-brand-default: var(--color-primitives-brand-100);
    --color-background-brand-hover: var(--color-primitives-brand-300);
    --color-border-brand-default: var(--color-primitives-brand-100);
    --color-text-brand-on-brand: var(--color-primitives-brand-900);
    --color-text-default-default: var(--color-primitives-white-1000);
}